<!DOCTYPE html>
<html>
<head>
    <title><%= __('Forgot password')%></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <script src="/javascripts/setting_new_pass.js"></script>

</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3><%= __('Enter new pass')%></h3>
                <div style="color: white;"><%= err %></div>
			</div>
            <div id="email_recive" style="display:none" id = "email_recive"><%=email %></div>
			<div class="card-body mt-1">
				<form action="/user/set_pass" method="POST">
                    <!-- <span style="color: white">Email</span> -->
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="email" name="email" id="email" disabled>
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="<%= __('password')%>" name="password" id="password">
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="<%= __('confirm password')%>" name="cfpassword" id="cfpassword">
					</div>
					<div class="form-group">
                            <input type="submit" value="<%= __('Save')%>" class="btn float-right login_btn">
                            <!-- <button class="btn float-right login_btn" onclick="resetPass()" id="sendReset">Send</button> -->
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
				    <a href="/logout"><%= __('Cancel')%></a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>