<div name="alert_list" class="mt-2">
    <div class="row mb-2">
        <div class="col-2 text-left">
            <label class="labelInforTab"><%= __('Number alert')%>:</label>
            <input class="form-control" id="totalAlert_inverter" disabled>
        </div>
        <!-- <div class="col-2 text-left">
            <label class="labelInforTab"><%= __('Time')%></label>
            <select class="custom-select  " id="selectTimeAlert_inverter">
                    <option value="week"><%= __('1 week')%></option>
                    <option value="month"><%= __('1 month')%></option>
                    <option value="custom" id="customTimeMultiAlert_inverter"><%= __('custom')%></option>
                </select>
        </div> -->        
        <!-- <div class="col-3 text-left mt-2">
            <input type="text" name="datetimes" class="form-control  mt-4" id="picktimeAlert_inverter" style="display:none;">
        </div> -->
        <div class="col-2 text-left">
            <label class="labelInforTab"><%= __('From')%></label>
            <input class="form-control" type="text" autocomplete="off" id="time_alert_from_inverter">
        </div>
        <div class="col-2 text-left">
            <label class="labelInforTab"><%= __('To')%></label>
            <input class="form-control" type="text" autocomplete="off" id="time_alert_to_inverter">
        </div>
        <div class="col-2 text-left">

        </div>
        <div class="col-3 text-left mt-4">
            <!-- <button class="btn btn-success" style="position: relative; top: 10px;" onclick="filter()"><%= __('Load data')%></button> -->
        </div>
    </div>

    <div id="tableal_inverter">
        <div class="table-responsive mt-3" style="min-height: 400px;">
            <table id="tableAlert_inverter" class="table text-center " style="width:100%">
                <thead>
                    <tr class="titleRow">
                        <th>
                            <%= __('Index')%> &nbsp;
                        </th>
                        <th>
                            <%= __('Alert type')%>
                        </th>
                        <th>
                            <%= __('Threshold')%>
                        </th>
                        <th>
                            <%= __('Alert value')%>
                        </th>
                        <th>
                            <%= __('Comparative value')%>
                        </th>
                        <th>
                            <%= __('Alert time')%>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success " onclick="refreshTable_inverter()"><%= __('Refresh data')%></button>
</div>