<!-- <div>Hiển thị cài đặt vượt sản lượng</div> -->
<% if(role == "admin" || role == "admin_client"){ %>
<div style="min-height: 500px;">
    <div class="row mb-4">
        <div class="col-6 text-left">
            <label class="labelInforTab"><%= __('Start')%></label>
            <input type="time" class="form-control"placeholder="HH:mm (Giờ:phút)" id="quanity_str_time" autocomplete="off">
        </div>
        <div class="col-6 text-left">
            <label class="labelInforTab"><%= __('End')%></label>
            <input type="time" class="form-control" placeholder="HH:mm (Giờ:phút)" id="quanity_end_time" autocomplete="off">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 text-left">
            <label class="labelInforTab"><%= __('Estimated quanity (m3)')%></label>
            <input type="text" class="form-control" id="estimate_quanity" autocomplete="off">
        </div>
        <div class="col-6 text-left">
            <label class="labelInforTab"><%= __('Reapeat alert (minute)')%></label>
            <input type="text" class="form-control" id="repeat_alert" autocomplete="off">
        </div>
    </div>
        <div class="row text-left mt-3 p-2">
            <label class="labelInforTab"><%= __('Repreat')%></label>
            <div class="text-left p-3" style="width: 100%; border: solid gray 1px;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_2">
                    <label class="form-check-label" for="quanity_2">
                      <%= __('Monday')%>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_3">
                    <label class="form-check-label" for="quanity_3">
                        <%= __('Tuesday')%>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_4">
                    <label class="form-check-label" for="quanity_4">
                        <%= __('Wednesday')%>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_5">
                    <label class="form-check-label" for="quanity_5">
                        <%= __('Thursday')%>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_6">
                    <label class="form-check-label" for="quanity_6">
                        <%= __('Friday')%>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_7">
                    <label class="form-check-label" for="quanity_7">
                        <%= __('Saturday')%>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_1">
                    <label class="form-check-label" for="quanity_1">
                        <%= __('Sunday')%>
                    </label>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" onclick="save_setting_alert()"><%= __('Save')%></button>
</div>
<% }else{ %>
    <div style="min-height: 500px;">
        <div class="row mb-4">
            <div class="col-6 text-left">
                <label class="labelInforTab"><%= __('Start')%></label>
                <input type="time" class="form-control"placeholder="HH:mm (Giờ:phút)" id="quanity_str_time" autocomplete="off" disabled>
            </div>
            <div class="col-6 text-left">
                <label class="labelInforTab"><%= __('End')%></label>
                <input type="time" class="form-control" placeholder="HH:mm (Giờ:phút)" id="quanity_end_time" autocomplete="off" disabled>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6 text-left">
                <label class="labelInforTab"><%= __('Estimated quanity (m3)')%></label>
                <input type="text" class="form-control" id="estimate_quanity" autocomplete="off" disabled>
            </div>
            <div class="col-6 text-left">
                <label class="labelInforTab"><%= __('Reapeat alert (minute)')%></label>
                <input type="text" class="form-control" id="repeat_alert" autocomplete="off" disabled>
            </div>
        </div>
            <div class="row text-left mt-3 p-2">
                <label class="labelInforTab"><%= __('Repreat')%></label>
                <div class="text-left p-3" style="width: 100%; border: solid gray 1px;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_2" disabled>
                        <label class="form-check-label" for="quanity_2">
                          <%= __('Monday')%>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_3" disabled>
                        <label class="form-check-label" for="quanity_3">
                            <%= __('Tuesday')%>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_4" disabled>
                        <label class="form-check-label" for="quanity_4">
                            <%= __('Wednesday')%>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_5" disabled>
                        <label class="form-check-label" for="quanity_5">
                            <%= __('Thursday')%>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_6" disabled>
                        <label class="form-check-label" for="quanity_6">
                            <%= __('Friday')%>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_7" disabled>
                        <label class="form-check-label" for="quanity_7">
                            <%= __('Saturday')%>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input quanity_checkbox mt-1" type="checkbox" value="" id="quanity_1" disabled>
                        <label class="form-check-label" for="quanity_1">
                            <%= __('Sunday')%>
                        </label>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
    </div>
<% } %>