<div>
    <% if(role == "admin" || role == "admin_client"){ %>
    <div class="row mb-4">
        <div class="col-6 text-left">
            <label class="labelInforTab"><%= __('Group')%></label>
            <div class="dropdown">
                <button class="btn dropdown-toggle form-control" style="width: 100%; border: solid 1px gray;" type="button" id="dropdown_group_inverter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <%= __('Group')%>
                    </button>
                <ul class="dropdown-menu checkbox-menu allow-focus pl-3" aria-labelledby="dropdown_group_inverter" id="group_eq_inverter" style="width: 100%;">
                </ul>
            </div>
        </div>
        <div class="col-6 text-left">
            <label class="labelInforTab"><%= __('Inverter code')%></label>
            <input type="text" class="form-control" id="info_inverter_code" autocomplete="off">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 text-left">
            <label class="labelInforTab"><%= __('Name')%></label>
            <input type="text" class="form-control" id="name_eq_inverter" autocomplete="off">
        </div>
        <div class="col-6 text-left row">
            <label class="labelInforTab"><%= __('Address')%></label>
            <textarea spellcheck="false" class="form-control ml-3 mr-3" style="min-height: 100px; width: 100%; resize: none;" id="address_info_inverter"></textarea>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4 text-left">
            <label class="labelInforTab"><%= __('Install date')%></label>
            <input type="date" class="form-control" id="install_date_inverter" autocomplete="off">
        </div>
        <div class="col-4 text-left">
            <label class="labelInforTab"><%= __('Inspection date')%></label>
            <input type="date" class="form-control" id="inspection_date_inverter" autocomplete="off">
        </div>
        <div class="col-4 text-left">
            <label class="labelInforTab"><%= __('Install loger date')%></label>
            <input type="date" class="form-control" id="loger_install_date_inverter" placeholder="yyyy-mm-dd" autocomplete="off">
        </div>
    </div>
    <% }else{ %>
        <div class="row mb-4">
            <div class="col-6 text-left">
                <label class="labelInforTab"><%= __('Group')%></label>
                <input type="text" id="static_group" class="form-control" value="<%=group %>" disabled style="width: 100%;">
            </div>
            <div class="col-6 text-left">
                <label class="labelInforTab"><%= __('Inverter code')%></label>
                <input type="text" class="form-control" id="info_inverter_code" autocomplete="off" disabled>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6 text-left">
                <label class="labelInforTab"><%= __('Name')%></label>
                <input type="text" class="form-control" id="name_eq_inverter" autocomplete="off" disabled>
            </div>
            <div class="col-6 text-left row">
                <label class="labelInforTab"><%= __('Address')%></label>
                <textarea spellcheck="false" class="form-control ml-3 mr-3" style="min-height: 100px; width: 100%; resize: none;" id="address_info_inverter" disabled></textarea>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4 text-left">
                <label class="labelInforTab"><%= __('Install date')%></label>
                <input type="date" class="form-control" id="install_date_inverter" autocomplete="off" disabled>
            </div>
            <div class="col-4 text-left">
                <label class="labelInforTab"><%= __('Inspection date')%></label>
                <input type="date" class="form-control" id="inspection_date_inverter" autocomplete="off" disabled>
            </div>
            <div class="col-4 text-left">
                <label class="labelInforTab"><%= __('Install loger date')%></label>
                <input type="date" class="form-control" id="loger_install_date_inverter" placeholder="yyyy-mm-dd" autocomplete="off" disabled>
            </div>
        </div>
    <% } %>
</div>
<div class="modal-footer">
    <% if(role == "admin" || role == "admin_client"){ %>
        <button class="btn btn-success" onclick="save_info_inverter()"><%= __('Save')%></button>
    <% } %>
</div>